<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OwlNews</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="slide-bottom">
        <%-include("header")%>
      <!--     HERO -->
        <div class="contenedor hero">

          <div class="bg-dark w-100 h-100 bg-opacity-75 d-flex justify-content-center align-items-center ">
          <div class="d-flex flex-column texto-centrado text-center fw-bold fade-in">
            <img class="me-auto" src="https://firebasestorage.googleapis.com/v0/b/noboss-app.appspot.com/o/nobossAppSimple%2Frecursos%2Ftest%2Fname.png?alt=media&token=8e643248-126b-4304-88ac-f05f47c526dc" alt="logo" id="logo">
            <p class="text-light">Blog de noticias tecnológicas.</p>
          </div>
        </div>
    </div>
        <div class="container d-flex justify-content-center mt-3" id="articulos">
          <div class="articulos">
            <% for(const articulo of articulos) { %>
            <div class="text-center">
             <a class="text-decoration-none text-dark " href="/articles/<%=articulo.id%>"><h2 class="d-block text-start fw-bold"><%=articulo.title%></h2></a>
             <p class="text-start opacity-75" style="font-style: italic; font-family: lora;"> <%=format(articulo.createdAt, "'Fue creado el'  EEEE d 'de' LLLL 'de' yyyy " ,{ locale: es })%> por <%=articulo.user.nombre%> <%=articulo.user.apellido%> </p>
             <hr>
            </div>
           <% } %>
         </div>
        </div>

        <%-include("footer")%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
